.navIcon{
    width:50px;
    height:50px;
    padding-right: 10px;
    
}
.imgNaveHeading{
    font-size:medium;
}
.navbgcostom{
    background-color: transparent;
    color:white;
}
.navlinkforcolor{
    color:white;
    border-color: rgb(175, 41, 41);
}
.naveButton{
    background-color: transparent;
    color:white;
    border-radius: 10px;
    border-color: green;
}