
.banerbgimgFor{
    
    background-size: cover;
    margin: 0;
    padding: 0;
    width:cover;
    height: 100vh;
    background-image:url(https://res.cloudinary.com/muni/image/upload/v1712740637/Untitled_design_xl2qf1.png)
    
}