
.homeMainBanerHeading{
    color:white;
    font-family:'roboto';
    padding-top: 2%;
    padding-left: 2%;
    font-size:100px;
}
.bannerParag{
    width:40%;
    color:white;
    padding-top: 2%;
    padding-left: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    border-radius: 10px;
    border:2px solid #333;
}